<section fxLayout="row" fxLayoutAlign="center center" style="margin-top: 25px;">
    <mat-card *ngIf="!registerMod" fxLayout="column" fxLayoutAlign="start center ">
        <mat-card-header fxFlexAlign="center">
            <mat-card-title>Find Your Match</mat-card-title>
          <mat-card-subtitle>Come on in to view matches...All you need yo do is sign-up!</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="registerToggle()">Register</button>
          <button mat-raised-button color="accent" (click)="cancel()" >Learn More</button>
        </mat-card-actions>
      </mat-card>
      <app-register   (cancelRegister)="changeRegisterMod($event)" *ngIf="registerMod"></app-register>

</section>



