<div *ngIf="users" class="container" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px" style="margin-top:15px;">
    <h4>{{likeParams==='Likers'?'Members Who I have liked':'Members who Liked me'}}</h4>
    <mat-button-toggle-group [(ngModel)]="likeParams" aria-label="Font Style">
        <mat-button-toggle value="Likers" (click)="loadUsers()">Likers</mat-button-toggle>
        <mat-button-toggle value="Likees" (click)="loadUsers()">Likees</mat-button-toggle>
      </mat-button-toggle-group>
  </div>
  
  <div class="container" style="margin-top:15px;">
    <div class="row" fxLayout="row wrap" fxLayoutAlign="center center"  fxLayoutAlign.gt-lg="center center" fxLayoutGap="10px" style="width:960;">
      <app-member-card *ngFor="let user of users" [user]="user"></app-member-card>
    </div>
  </div>
  <div class="container" fxLayout="row" fxLayoutAlign="center center">
      <mat-paginator [length]="pagination.totalItems"
                  [pageSize]="pagination.itemsPerPage"
                  [pageSizeOptions]="[5,10,15,20,25]"
                  (page)="onChangePage($event)" class="mat-elevation-z12">
     </mat-paginator>
    </div>
  
  
  